
/* ===== Importing Font ===== */

@font-face {
     font-family: 'Poppins';
     src: url(../font/Poppins.ttf);
}

/* ===== Universal Styles ===== */

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins';
}

ul, li {
     list-style: none;
}

a {
     text-decoration: none;
}

/* ===== Variables ===== */

:root {
     --black: #2c3e50;
     --purple: #8e44ad;
     --blue: #2980b9;
     --red: #e74c3c;
     --green: #27ae60;
     --white: #fff;
     --gray: #d3d3d3;
     --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
     --transition: width 0.5s cubic-bezier(0.25, 1, 0.5, 1) 0s;
}

/* ===== Header Section ===== */

.header {
     margin-inline: auto;
     position: fixed;
     top: 0;
     width: 100%;
     box-shadow: var(--box-shadow);
     background-color: var(--white);
}

.header-wrapper {
     max-width: 1200px;
     margin-inline: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-right: 1.5rem;
}

.header-left {
     display: flex;
     align-items: center;
     column-gap: 30px;
}

.logo {
     width: 85px;
}

#nav-toggle {
     display: none;
}

.nav-list {
     display: flex;
     align-items: center;
     column-gap: 20px;
}

.close-btn {
     display: none;
}

.nav-item {
     position: relative;
}

.nav-item:hover .drop-down {
     top: 170%;
     visibility: visible;
     opacity: 1;
}

.nav-link {
     text-transform: capitalize;
     font-size: 16px;
     color: var(--black);
     position: relative;
     padding-bottom: 1px;
     font-weight: 400;
}

.nav-link i {
     font-size: 20px;
     vertical-align: middle;
}

.nav-link::after {
     content: '';
     width: 0;
     height: 2px;
     background-color: var(--purple);
     position: absolute;
     bottom: 0; left: 0;
     transition: var(--transition);
}

.nav-link:hover {
     color: var(--purple);
}

.nav-link:hover::after {
     width: 100%;
}

.drop-down {
     background-color: var(--white);
     box-shadow: var(--box-shadow);
     border: 1px solid var(--black);
     position: absolute;
     top: 200%; left: 0;
     display: grid;
     grid-template-columns: 1fr 1fr;
     padding: 1.5rem;
     width: 300px;
     border-radius: 10px;
     transition: all 0.4s ease;
     visibility: hidden;
     opacity: 0;
}

.drop-link {
     width: 100%;
     display: block;
     padding: 8px 0 8px 8px;
     font-size: 16px;
     color: var(--black);
     text-transform: capitalize;
     border-radius: 5px;
     transition: all 0.3s ease;
}

.drop-link i {
     font-size: 20px;
     vertical-align: middle;
}

.drop-link:hover {
     background-color: var(--purple);
     color: var(--white);
}

.header-right {
     display: flex;
     align-items: center;
     column-gap: 15px;
}

.menu-btn {
     color: var(--black);
     font-size: 25px;
     cursor: pointer;
     display: none;
}

.cart-btn {
     position: relative;
}

.cart-btn i {
     width: 3rem;
     height: 3rem;
     line-height: 3rem;
     text-align: center;
     font-size: 25px;
     color: var(--black);
}

.cart-Inventory {
     position: absolute;
     top: 0; right: 0;
     font-size: 12px;
     background-color: var(--red);
     color: var(--white);
     width: 1rem;
     height: 1rem;
     line-height: 1rem;
     text-align: center;
     border-radius: 100%;
}

.user-btn {
     font-size: 25px;
     color: var(--black);
}

/* ===== Hero Section ===== */

.hero {
     max-width: 1200px;
     margin-inline: auto;
     margin-top: 160px;
     padding-inline: 1.5rem;
}

.hero-wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.hero-content {
     display: flex;
     flex-direction: column;
     row-gap: 20px;
}

.hero-subtext {
     color: var(--black);
     font-size: 14px;
}

.hero-title {
     font-size: 35px;
     color: var(--black);
}

.hero-title span {
     color: var(--purple);
}

.hero-description {
     font-size: 14px;
     color: var(--black);
     margin-bottom: 10px;
}

.hero-btn {
     background-color: purple;
     color: var(--white);
     padding: 12px;
     width: 150px;
     text-align: center;
     border-radius: 10px;
     font-size: 16px;
     border: 1px solid var(--purple);
     transition: all 0.5s ease;
}

.hero-btn:hover {
     background-color: var(--white);
     color: var(--purple);
}

.hero-img {
     width: 600px;
}

/* ===== Category Section ===== */

.category {
     max-width: 1200px;
     margin-inline: auto;
     margin-block: 6rem;
     padding-inline: 1.5rem;
}

.category-wrapper {
     display: flex;
     align-items: center;
     column-gap: 1rem;
     white-space: nowrap;
     scroll-behavior: smooth;
     overflow-x: auto;
     padding-bottom: 15px;
}

.category-title-wrapper {
     margin-bottom: 50px;
     display: flex;
     align-items: center;
     column-gap: 20px;
     justify-content: center;
}

.category-title {
     text-align: center;
     font-size: 25px;
     color: var(--black);
}

.category-title-wrapper span {
     width: 100px;
     height: 2px;
     border-radius: 20px;
     background-color: var(--black);
     display: block;
}

.category-item {
     text-align: center;
     border: 1px solid var(--black);
     padding: 1rem;
     border-radius: 1rem;
     cursor: pointer;
     transition: all 0.5s ease;
     width: 200px;
     z-index: -1000;
}

.category-item:hover {
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.category-image {
     width: 100%;
     border-radius: 0.5rem;
     mix-blend-mode: multiply;
}

.category-text {
     margin-top: 5px;
}

















































@media screen and (max-width: 1200px) {

     .hero-img {
          width: 550px;
     }

}

@media screen and (max-width: 992px) {

     .hero {
          margin-top: 120px;
     }
     
     .hero-wrapper {
          flex-direction: column;
          row-gap: 30px;
          text-align: center;
     }

     .hero-content {
          width: 100%;
     }

     .hero-btn {
          margin: auto;
          width: 200px;
     }
}

@media screen and (max-width: 768px) {
     
     .menu-btn {
          display: block;
     }

     .logo {
          width: 80px;
          height: 70px;
          margin-top: 8px;
     }

     .nav-list {
          position: absolute;
          background-color: var(--white);
          box-shadow: var(--box-shadow);
          width: 250px;
          height: 100vh;
          z-index: 1000;
          flex-direction: column;
          left: -150%; top: 0;
          row-gap: 20px;
          transition: all 0.5s ease-in-out;
          padding-top: 100px;
          padding-inline: 1rem;
          overflow-y: scroll;
     }

     .nav-item {
          width: 100%;
          padding-inline: 1rem;
     }

     .drop-down {
          width: 100%;
          z-index: 1000;
          padding: 0.5rem;
     }

     .close-btn {
          display: block;
          position: absolute;
          top: 1rem; right: 1rem;
          font-size: 25px;
          color: var(--black);
     }

     #nav-toggle:checked ~ .nav-list {
          left: 0;
     }

     .category-wrapper::-webkit-scrollbar {
          display: none;
     }

     .category-title-wrapper {
          gap: 10px;
     }

     .category-title {
          font-size: 20px;
     }

     .category-title-wrapper span {
          width: 50px;
     }

     .category-item {
          flex: 0 0 auto;
          width: 200px;
     }

}

@media screen and (max-width: 578px) {

     .hero-img {
          width: 450px;
     }

     .category-title-wrapper {
          margin-block: 2rem;
          justify-content: flex-start;
     }

     .category-title-wrapper span {
          display: none;
     }
}

@media screen and (max-width: 480px) {

     .hero-title {
          font-size: 30px;
     }

     .hero-btn {
          width: 140px;
          padding: 10px;
     }

     .hero-img {
          width: 300px;
     }
}
